@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kaushan+Script&display=swap");

/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  position: relative;
}

body {
  background-color: #ffffff;
  font-family: "Bree Serif", serif;
  color: #000000;
}

#my-avatar {
  width: 150px;
  border-radius: 50%;
}

#content {
  text-align: center;
  height: 100%;
  flex-direction: center;
}

#my-name {
  font-family: "Kaushan Script", cursive;
  color: #8c52ff;
}

#left-side {
  position: absolute;
  top: 16px;
  left: 16px;
}
#left-side > a {
  margin-right: 16px;
}

#right-side {
  position: absolute;
  top: 16px;
  right: 16px;
}

a {
  color: #8c52ff;
  text-decoration: none;
  border-bottom: 1px dotted #8c52ff;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw; /* vw -> viewport width */
  padding: 16px;
}
footer > section {
  display: flex;
  justify-content: space-around;
}

#content div {
  width: 100vw; /* vw -> viewport width */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
}
