@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Kaushan+Script&display=swap");

/* CSS reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  position: relative;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: rgb(255 255 255);
  font-family: "Bree Serif", serif;
  color: rgba(18, 18, 18, 1);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px;
}

/* Dark mode styles */
a {
  color: rgb(140, 82, 255);
  /* font-size: 20px;
  text-decoration: none;
  font-weight: 100; */
}

a.nav-link:hover,
footer a:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.dark a {
  color: rgb(140, 82, 255);
}

.switch {
  width: 60px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.theme-icon {
  font-size: 18px;
  transition: opacity 0.5s ease;
}

.dark {
  background-color: rgb(3 6 32);
  transition: background-color 0.3s;
}

.dark > * {
  color: rgb(255 255 255);
}

/* Avatar */
#my-avatar {
  width: 150px;
  border-radius: 50%;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;
}

#my-avatar:hover {
  transform: translateY(-10px);
}

#content {
  text-align: center;
  height: 100%;
}

#my-name {
  font-family: "Kaushan Script", cursive;
  color: #8c52ff;
}

#left-side {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

#left-side > a {
  margin-right: 20px;
  margin-top: 5px;
}

#right-side {
  position: absolute;
  top: 20px;
  right: 20px;
}

a {
  color: #8c52ff;
  text-decoration: none;
  border-bottom: 1px dotted #8c52ff;
}

/* Footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  padding: 16px;
  margin-top: 40px;
}

footer > section {
  display: flex;
  justify-content: space-around;
}

#content div {
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
}

/* Projects page */

#hero-banner {
  background: linear-gradient(150deg, red, blue, magenta);
}

#hero-banner > div {
  width: 100vw;
  display: flex;
  column-gap: 16px;
  padding: 16px;

}

@media (min-width: 426px) and (max-width: 768px) {
  #hero-banner > div {
    width: 50%;
    margin: 0 auto;
  }
}

#hero-banner h1,
#hero-banner h2 {
  color: white;
}

#hero-banner h1 {
  font-size: 2rem;
}

#hero-banner h2 {
  font-size: 1.1rem;
}

h3 {
  text-align: center;
  font-size: 32px;
}
